<div class="position-relative" ng-controller="LoginController">
	<div id="login-box" class="login-box visible widget-box no-border">
		<div class="widget-body">
			<div class="widget-main">
				<div class="space-6"></div>
				<div class="alert alert-danger" id="msg_login" ng-show="!error">{{msg_text}}</div>
				<form novalidate name="login" id="form-login">
					<fieldset>
						<label class="block clearfix">
							<span class="block input-icon input-icon-right">
								<input type="text" class="form-control" placeholder="Username" ng-model="log.username" name="username" />
								<i class="ace-icon fa fa-user"></i>
							</span>
						</label>

						<label class="block clearfix">
							<span class="block input-icon input-icon-right">
								<input type="password" class="form-control" ng-model="log.password" placeholder="Password" name="password" />
								<i class="ace-icon fa fa-lock"></i>
							</span>
						</label>
						<div class="space"></div>
						<div class="clearfix">
							<label class="inline">
								<input type="checkbox" class="ace" />
								<span class="lbl"> Remember Me</span>
							</label>
							<button type="submit" class="width-35 pull-right btn btn-sm btn-primary" ng-click="dologin(log.username, log.password)">
								<i class="ace-icon fa fa-key"></i>
								<span class="bigger-110">Login</span>
							</button>
						</div>
						<div class="space-4"></div>
					</fieldset>
				</form>

			</div><!-- /.widget-main -->
		</div><!-- /.widget-body -->
	</div><!-- /.login-box -->
</div><!-- /.position-relative -->
