<div class="row">
	<div class="col-xs-12" ng-hide="!isForm">
		<div class="widget-box">
			<div class="widget-header">
				<h4 class="widget-title">Create New Product</h4>
			</div>

			<div class="widget-body">
				<div class="widget-main no-padding">
					<form name="productForm">
						<!-- <legend>Form</legend> -->
						<fieldset>
							<div class="row">
								<div class="col-xs-6">
									<select class="form-control" ng-model="pf.supplier" id="form-field-select-3" placeholder="Choose a Supplier...">
										<option>Choose a Supplier...</option>
										<option value="AL">Alabama</option>
									</select>
								</div>
								<div class="col-xs-6">
									<input type="text" id="form-field-1-1" ng-model="pf.name" placeholder="Name" class="form-control" />
								</div>
							</div>
							<div class="space-4"></div>
							<div class="row">
								<div class="col-xs-12">
									<textarea class="form-control" id="form-field-8" ng-model="pf.description" placeholder="Description"></textarea>
								</div>
							</div>
							<div class="space-4"></div>
							<div class="row">
								<div class="col-xs-6">
									<input type="number" id="form-field-1-1" ng-model="pf.price" placeholder="Price" class="form-control" />
								</div>
								<div class="col-xs-6">
									<input type="number" id="form-field-1-1" ng-model="pf.cost" placeholder="Cost" class="form-control" />
								</div>
							</div>
							<div class="space-4"></div>
							<div class="row">
								<div class="col-xs-6">
									<div class="checkbox">
										<label>
											<input name="form-field-checkbox" type="checkbox" ng-model="pf.isDiscount" class="ace input-lg" />
																<span class="lbl bigger-120"> discount?</span>
										</label>
									</div>
								</div>
								<div class="col-xs-6" ng-show="pf.isDiscount">
									<input type="number" id="form-field-1-1" ng-model="pf.discountQty" placeholder="Discount Qty" class="form-control" />
								</div>
							</div>
						</fieldset>

						<div class="form-actions center">
							<button type="button" class="btn btn-sm btn-danger" ng-click="actionProduct('cancel')">
								<i class="ace-icon fa fa-arrow-left icon-on-right"></i>
								Cancel
							</button>
							<button type="button" class="btn btn-sm btn-success" ng-click="saveProduct('create', pf)">
								Create
								<i class="ace-icon fa fa-arrow-right icon-on-right"></i>
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div><!-- /.span -->

	<div class="col-xs-12" ng-hide="isForm">
		<div class="pull-left tableTools-container">
			<div class="dt-buttons btn-overlap btn-group">
				<span class="input-icon">
					<!-- <input type="text" ng-model="filterText"/>
					<i class="ace-icon fa fa-search blue"></i> -->
					<input type="text" class="form-control" placeholder="Filter..." ng-model="filterText">
				</span>
			</div>
		</div>
		<div class="pull-right tableTools-container">
			<div class="dt-buttons btn-overlap btn-group">
				<button class="dt-button buttons-collection buttons-colvis btn btn-white btn-primary btn-bold" ng-click="actionProduct('create')" title="create product" data-rel="tooltip">
					<span><i class="fa fa-file bigger-110 green"></i>
					</span>
				</button>
				<a class="dt-button buttons-copy buttons-html5 btn btn-white btn-primary btn-bold" ng-click="actionProduct('edit')" title="edit product" data-rel="tooltip">
					<span>
						<i class="fa fa-pencil bigger-110 blue"></i>
						<span class="hidden">Copy to clipboard</span>
					</span>
				</a>
				<a class="dt-button buttons-csv buttons-html5 btn btn-white btn-primary btn-bold" ng-click="actionProduct('delete')" title="delete product" data-rel="tooltip">
					<span>
						<i class="fa fa-trash bigger-110 red"></i>
						<span class="hidden">Export to CSV</span>
					</span>
				</a>
				</div>
		</div>
		<table id="simple-table" class="table  table-bordered table-hover">
			<thead>
				<tr>
					<th class="center">
						<label class="pos-rel">
							<input type="checkbox" class="ace" />
							<span class="lbl"></span>
						</label>
					</th>
					<th>Product Id</th>
					<th>Name</th>
					<th>Description</th>
					<th>Price</th>
					<th>Stock</th>
					<th>Cost</th>
					<th>Discon Status</th>
					<th>Discon Qty</th>
					<th>
						<i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
						Create Date
					</th>
				</tr>
			</thead>

			<tbody>
				<tr ng-repeat="(key, value) in filterData = (products | custom:filterText) | limitTo:10:10*(page-1)">
					<td class="center">
						<label class="pos-rel">
							<input type="checkbox" class="ace" />
							<span class="lbl"></span>
						</label>
					</td>
					<td>{{value.product_id}}</td>
					<td>{{value.name}}</td>
					<td>{{value.description}}</td>
					<td class="center">${{value.price}}</td>
					<td class="center">{{value.stock}}</td>
					<td class="center">${{value.cost}}</td>
					<td>{{value.discon_status}}</td>
					<td class="center">{{value.discon_qty}}</td>
					<td>{{value.created_date}}</td>
				</tr>
			</tbody>
		</table>
		<div class="pull-right">
			<uib-pagination class="pagination-sm pagination" total-items="products.length" ng-model="page"
				ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page=10></uib-pagination>
		</div>
	</div><!-- /.span -->
</div><!-- /.row -->

<script>
	$('[data-rel=tooltip]').tooltip();

	//And for the first simple table, which doesn't have TableTools or dataTables
	//select/deselect all rows according to table header checkbox
	var active_class = 'active';
	$('#simple-table > thead > tr > th input[type=checkbox]').eq(0).on('click', function(){
		var th_checked = this.checked;//checkbox inside "TH" table header

		$(this).closest('table').find('tbody > tr').each(function(){
			var row = this;
			if(th_checked) $(row).addClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', true);
			else $(row).removeClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', false);
		});
	});

	//select/deselect a row when the checkbox is checked/unchecked
	$('#simple-table').on('click', 'td input[type=checkbox]' , function(){
		var $row = $(this).closest('tr');
		if($row.is('.detail-row ')) return;
		if(this.checked) $row.addClass(active_class);
		else $row.removeClass(active_class);
	});

	if(!ace.vars['touch']) {
					$('.chosen-select').chosen({allow_single_deselect:true});
					//resize the chosen on window resize

					$(window)
					.off('resize.chosen')
					.on('resize.chosen', function() {
						$('.chosen-select').each(function() {
							 var $this = $(this);
							 $this.next().css({'width': $this.parent().width()});
						})
					}).trigger('resize.chosen');
					//resize chosen on sidebar collapse/expand
					$(document).on('settings.ace.chosen', function(e, event_name, event_val) {
						if(event_name != 'sidebar_collapsed') return;
						$('.chosen-select').each(function() {
							 var $this = $(this);
							 $this.next().css({'width': $this.parent().width()});
						})
					});
				}
</script>
